body {
    font-family: 'Arial', sans-serif;
}

.icon {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 32px;
    padding: 8px;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.4s;
    text-decoration: none;
}

.icon svg {
    transition: transform 0.2s;
}

.icon:active {
    background-color: #EFEFEF;
}

.icon:active svg {
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.8, 0.8);
}

.android svg {
    fill: #93DA27;
}

.prettyprint {
    padding: 8px;
    width: auto;
    white-space: pre-wrap;
}